// This .env file will will be read by /resource/load_env.py to pass variable to the main robot framework program.
// Don't forget to delete lines begining with "//" in this file.

EMAIL = // input your email here
PASSWORD = // input your password here
BASE_URL = // input the base link here
INVALID_EMAIL = // if needed, create additional variables for other test cases
INVALID_PASSWORD = wrongpassword123

CXMAIL = hendrait@gmail.com
CXPASSWORD = V00dk41234!!
BASE_URL = login-dxt360.sonarplatform.com
CXINVALID_EMAIL = fail@dxt360.app
CXINVALID_PASSWORD = p3iN%u26